{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <main>
        <div class="container">

            <h2>Request Refund</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type='submit' class='btn btn-primary'>Submit</button>
            </form>

        </div>
    </main>

{% endblock content %}